<div class="loading-pane text-center">
  <div class="loading-message text-center" >
    Fetching Agents Data
    <br><br><br>
    <div data-role="preloader" data-type="ring" data-style="dark"></div>
  </div>
  </div>
