
@import 'ember-paper';

html, body {
  /*margin: 20px;*/
  /*background: url('/images/background3.png') ;*/
}
.page-header a h1 {
  color: #555;
}
.list-wrapper {
  margin-left: 0;
  margin-right: 0;
}
.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}

a , a:hover , a:visited , a:active{
  text-decoration: none;
}


.page-header a:hover {
  text-decoration: none;
}

.nav-tabs > li > a.active,
.nav-tabs > li > a.active:hover,
.nav-tabs > li > a.active:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.btn-xlarge {
  padding: 18px 28px;
  font-size: 22px; //change this to your desired size
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
/* FOR CREATING SPACE BETWEEN TABLE SPACE */
td {
  padding-top: .5em !important;
  padding-bottom: .5em !important;
}
.row-margin
{
  margin-top: 10px;
}

.labels
{
  margin-top: 10px;
}


/* FOR LOADING ANIMANTIONS */

.loading-pane {
  margin: 25px auto;
}
.loading-message {
  text-align: center;
  color: #aaa;
}
.error-pane {
  margin: 25px auto;
  background-color: rgba(255, 176, 176, 0.33);
}
.error-message {
  text-align: center;
  color: #e22626;
  line-height: 100px;
}
.spinner {
  background: url('/images/ajax-loader.gif') no-repeat;
  height: 31px;
  width: 31px;
  margin: 0 auto;
}

.input-error{
  display:none;
}




/* CSS FOR PRINT FUNCION */

@media print
{ .navbar{
  border:0;
  overflow:hidden;
  display:none
}
title{
  display:none;
  border:0;
}
.footer{
  display:none;
  border:0;
}
table td:last-child {display:none}
table th:last-child {display:none}

a[href]:after {
  content: none !important;
}
.form-actions{
  display:none;
}
body {
  font-family: Georgia, serif;
  background: none;
  color: black;
}
.home-link ,.print_buttons{
  display:none;
}


@page
{
  size: auto;   /* auto is the current printer page size */
  margin: 0mm;  /* this affects the margin in the printer settings */
}
}


/* talha css for picka day */
.pickaday input {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

/* css for metro theme */
html, body {
  height: 100%;
}
body {
}
.page-content {
  padding-top: 3.125rem;
  min-height: 100%;
  height: 100%;
}
.table .input-control.checkbox {
  line-height: 1;
  min-height: 0;
  height: auto;
}

@media screen and (max-width: 800px){
  #cell-sidebar {
    flex-basis: 52px;
  }
  #cell-content {
    flex-basis: calc(100% - 52px);
  }
}
.app-bar{
  z-index: 999999;
}

.sidebar2 li a.active{
  background-color: #71b1d1;
  color: #fff;border: none;
}
.signinform{
  max-width: 450px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: white;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}



.container {
    display: table;
    vertical-align: middle;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
