
@import 'ember-paper';

html, body {
  /*margin: 20px;*/
  /*background: url('/images/background3.png') ;*/
}
.page-header a h1 {
  color: #555;
}
.list-wrapper {
  margin-left: 0;
  margin-right: 0;
}
.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}

a , a:hover , a:visited , a:active{
  text-decoration: none;
}


.page-header a:hover {
  text-decoration: none;
}

.nav-tabs > li > a.active,
.nav-tabs > li > a.active:hover,
.nav-tabs > li > a.active:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.btn-xlarge {
  padding: 18px 28px;
  font-size: 22px; //change this to your desired size
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
/* FOR CREATING SPACE BETWEEN TABLE SPACE */
td {
  padding-top: .5em !important;
  padding-bottom: .5em !important;
}
.row-margin
{
  margin-top: 10px;
}

.labels
{
  margin-top: 10px;
}
.projectstatusclass_enquired{
  border: 1px solid #737372;
}
.projectstatusclass_quoted{
  border: 1px solid #F1F507;
}
.projectstatusclass_started{
  border: 1px solid #0072C6;
}
.projectstatusclass_delayed{
  border: 1px solid #FF0000;
}
.projectstatusclass_finished{
  border: 1px solid #32B719;
}

/* FOR LOADING ANIMANTIONS */

.loading-pane {
  margin-bottom: 100px;
  margin: 25px auto;
}
.loading-message {
  margin-bottom: 50px;
  text-align: center;
  color: #aaa;
}
.error-pane {
  margin: 25px auto;
  background-color: rgba(255, 176, 176, 0.33);
}
.error-message {
  text-align: center;
  color: #e22626;
  line-height: 100px;
}
.preloader-ring{
  margin: 3.425rem;
}

.input-error{
  display:none;
}

.only-print

{
  display: none;
}


/* CSS FOR PRINT FUNCION */

@media print
{ .navbar{
  border:0;
  overflow:hidden;
  display:none
}
title{
  display:none;
  border:0;
}
.footer{
  display:none;
  border:0;
}


a[href]:after {
  content: none !important;
}
.form-actions{
  display:none;
}
body {
  font-family: Georgia, serif;
  background: none;
  color: black;
}
.home-link ,.print_buttons{
  display:none;
}

.sidebar2
{
  display: none;
}
.app-bar
{
  display: none;
}
.to-print
{
    margin-left: -130px;
    width: 120%;
}
.only-print
{
    display: block;
}
.no-print
{
  display: none;
}
.print-input
{
  border: none;
  box-shadow: none;
}
.tac{
  text-align: center;
}
@page
{
  size: auto;   /* auto is the current printer page size */
  margin: 0mm;  /* this affects the margin in the printer settings */
}

}


/* talha css for picka day */
.pickaday input {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

/* css for metro theme */
html, body {
  height: 100%;
}
body {
}
.page-content {
  padding-top: 3.125rem;
  min-height: 100%;
  height: 100%;
  width: 97%;
  margin: auto;
}
.table .input-control.checkbox {
  line-height: 1;
  min-height: 0;
  height: auto;
}

@media screen and (max-width: 800px){
  #cell-sidebar {
    flex-basis: 52px;
  }
  #cell-content {
    flex-basis: calc(100% - 52px);
  }
}

.app-bar,.app-bar.fixed-bottom, .app-bar.fixed-top{
  z-index: 999;
}

.ember-select-guru{
  z-index:997;
}
.ember-select-guru__expanded{
  z-index:998;
}


.sidebar2 li a.active{
  background-color: #71b1d1;
  color: #fff;border: none;
}
.signinform{
  max-width: 450px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: white;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.05);
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.tile-content.slide-up:hover>.slide-over {
    top: 62%;
    transition: all .3s ease;
  }

.slide-up img{
  height: 100%;
}

/* for center login page */
  html, body, .container-table {
      height: 100%;
  }
  .container-table {
      display: table;
  }
  .vertical-center-row {
      display: table-cell;
      vertical-align: middle;
  }



.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #d3394c;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #722040;
}


/* style 2 */

.inputfile-2 + label {
    color: #d3394c;
    border: 2px solid currentColor;
}

.inputfile-2:focus + label,
.inputfile-2.has-focus + label,
.inputfile-2 + label:hover {
    color: #722040;
}


/* style 3 */

.inputfile-3 + label {
    color: #d3394c;
}

.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
    color: #722040;
}


/* style 4 */

.inputfile-4 + label {
    color: #d3394c;
}

.inputfile-4:focus + label,
.inputfile-4.has-focus + label,
.inputfile-4 + label:hover {
    color: #722040;
}

.inputfile-4 + label figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #d3394c;
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
}

.inputfile-4:focus + label figure,
.inputfile-4.has-focus + label figure,
.inputfile-4 + label:hover figure {
    background-color: #722040;
}

.inputfile-4 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}


/* style 5 */

.inputfile-5 + label {
    color: #d3394c;
}

.inputfile-5:focus + label,
.inputfile-5.has-focus + label,
.inputfile-5 + label:hover {
    color: #722040;
}

.inputfile-5 + label figure {
    width: 100px;
    height: 135px;
    background-color: #d3394c;
    display: block;
    position: relative;
    padding: 30px;
    margin: 0 auto 10px;
}

.inputfile-5:focus + label figure,
.inputfile-5.has-focus + label figure,
.inputfile-5 + label:hover figure {
    background-color: #722040;
}

.inputfile-5 + label figure::before,
.inputfile-5 + label figure::after {
    width: 0;
    height: 0;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
}

.inputfile-5 + label figure::before {
    border-top: 20px solid #dfc8ca;
    border-left: 20px solid transparent;
}

.inputfile-5 + label figure::after {
    border-bottom: 20px solid #722040;
    border-right: 20px solid transparent;
}

.inputfile-5:focus + label figure::after,
.inputfile-5.has-focus + label figure::after,
.inputfile-5 + label:hover figure::after {
    border-bottom-color: #d3394c;
}

.inputfile-5 + label svg {
    width: 100%;
    height: 100%;
    fill: #f1e5e6;
}


/* style 6 */

.inputfile-6 + label {
    color: #d3394c;
}

.inputfile-6 + label {
    border: 1px solid #d3394c;
    background-color: #f1e5e6;
    padding: 0;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: #722040;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile-6 + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-6 + label strong {
    height: 100%;
    color: #f1e5e6;
    background-color: #d3394c;
    display: inline-block;
}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    background-color: #722040;
}

@media screen and (max-width: 50em) {
	.inputfile-6 + label strong {
		display: block;
	}
}


// anvar
.enq-form
{
  padding-left: 20px;
}
.ht
{
  height: 1.75rem;
  margin: 0;
  width:100%;

}
.card
{
    margin-top: 15px;
}

.fixed-buttons
{
  position: fixed;
  right: 30px;
  top:70px;
  width: 170px;
}
.fullwidth
{
  width: 100%;
  text-transform: none;
}
.item-card
{
  border: 1px solid #ccc;
  padding: 15px;

}
.card-button
{
  width: 200px;
  margin: 10px;
  float:right;
}
.item-cards
{
  border: 1px solid #787878;
  padding: 10px;
  margin: 50px 10px 10px;}

.delbtn{
  float: right;
  width: 75px;
}

/*anvar   */

.menu-wrap
{
  margin-top: 50px;
}
.qtn-form
{
  margin: 20px 35px;
}


.no-border
{
  border: none;

}
.side-panel
{
  border: 5px solid #e8f1f4;
}
.search-box
{
  padding-top: 15px;
  background:#e8f1f4;
}
.wd90
{
  width: 90%;
}
.agent-label {

    margin-bottom: 0!important;
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
    height: 50px;
    padding: 20px;
    font-size: 15px;

}
.right-panel
{
  border: 1px solid #ddd;
  margin: 10px 10px 10px 0px;
  padding: 10px;
  background: #f4f7f9;

}
.new-btn
{
  border-radius: 0 !important;
  background: #2086bf !important;
  color: #fff !important;
  float: right !important;
}
.mr10
{
  margin-right: 10px;
}
.new-btn-row
{
  width: 100%;
  height: 50px;
}
.panel-in
{
  border: 1px solid #ddd;
  background: #FFE;

}
.pdl10
{
  padding-left: 10px;
}
.label-list-box
{
  padding: 10px;
  border: 1px solid #ddd;

}
.bodrddd
{
  border: 1px solid #ddd;
  margin: 10px 0px 10px 10px;

}
.tile-group.quadro
{
  width: auto !important ;
}
.tile-group
{
  margin-left: 0 !important;
  padding-top: 0 !important;
}
.panel
{
  margin-top: 10px  !important;
}
.chat
{
  margin-left: 0;
    padding: 0;
}
.log-items
{
  display: block;
}
.log-items label
{
  color: #f0e6c8;
  padding: 4px 0px;
}
.log-body
{
  border-bottom: 1px solid #ccc;
}
.log-ago
{
  float: right;
}
.log-date
{
  float: left;
  color: #1ba1e2 !important ;
}
.panel-body
{
  background: #002147;
  max-height: 300px;
  overflow: auto;
}
.lbl-grn
{
  color: #82b541 !important;
}
.lbl-red
{
color:  #e12828 !important;
}
.chat-panel
{
  margin: 0px 35px 0px;
}
