
@import 'ember-paper';

html, body {
  margin: 20px;
  /*background: url('/images/background3.png') ;*/
}
.page-header a h1 {
  color: #555;
}
.list-wrapper {
  margin-left: 0;
  margin-right: 0;
}
.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}


.page-header a:hover {
  text-decoration: none;
}

.nav-tabs > li > a.active,
.nav-tabs > li > a.active:hover,
.nav-tabs > li > a.active:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.btn-xlarge {
  padding: 18px 28px;
  font-size: 22px; //change this to your desired size
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
/* FOR CREATING SPACE BETWEEN TABLE SPACE */
td {
  padding-top: .5em !important;
  padding-bottom: .5em !important;
}
.row-margin
{
  margin-top: 10px;
}

.labels
{
  margin-top: 10px;
}


/* FOR LOADING ANIMANTIONS */

.loading-pane {
  margin: 25px auto;
}
.loading-message {
  text-align: center;
  color: #aaa;
}
.error-pane {
  margin: 25px auto;
  background-color: rgba(255, 176, 176, 0.33);
}
.error-message {
  text-align: center;
  color: #e22626;
  line-height: 100px;
}
.spinner {
  background: url('/images/ajax-loader.gif') no-repeat;
  height: 31px;
  width: 31px;
  margin: 0 auto;
}

.input-error{
  display:none;
}



/*****************************/
/* Underline */
/*****************************/

.tabs-style-underline nav {
  background: #fff !important;
}

.tabs-style-underline nav a {
  font-weight: 700;
    padding: 0.25em 0 0.5em !important;
  border-left: 1px solid #e7ecea !important;
  -webkit-transition: color 0.2s !important;
  transition: color 0.2s !important;
}

.tabs-style-underline nav li:last-child a {
  border-right: 1px solid #e7ecea !important;
}

.tabs-style-underline nav li a::after {
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 6px !important;
  background: #2CC185 !important;
  content: '' !important;
  -webkit-transition: -webkit-transform 0.3s !important;
  transition: transform 0.3s !important;
  -webkit-transform: translate3d(0,150%,0) !important;
  transform: translate3d(0,150%,0) !important;
}

.tabs-style-underline nav li a.active::after {
  -webkit-transform: translate3d(0,0,0)!important;
  transform: translate3d(0,0,0)!important;
}

.tabs-style-underline nav a span {
  font-weight: 700 !important;
}

.tabs {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 90%;
  font-weight: 300;
  font-size: 1.25em;
}

/* Nav */
.tabs nav {
  text-align: center;
}

.tabs nav ul {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  list-style: none;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.tabs nav ul li {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0;
  text-align: center;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.tabs nav a {
  color: #2CC185;
  text-decoration: none;
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2.5;
}

.tabs nav a:hover {
color: #74777b;
}

.tabs nav a span {
  vertical-align: middle;
  font-size: 0.75em;
}

.tabs nav li.tab-current a {
  color: #74777b;
}

.tabs nav a:focus {
  outline: none;
}

/* Content */
.content-wrap {
  position: relative;
}

.content-wrap section {
  display: none;
  margin: 0 auto;
  padding: 1em;
  max-width: 1200px;
  text-align: center;
}

.content-wrap section.content-current {
  display: block;
}

.content-wrap section p {
  margin: 0;
  padding: 0.75em 0;
  color: rgba(40,44,42,0.05);
  font-weight: 900;
  font-size: 4em;
  line-height: 1;
}

/* Fallback */
.no-js .content-wrap section {
  display: block;
  padding-bottom: 2em;
  border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
  display: block;
}

.no-flexbox nav ul li {
  min-width: 15%;
  display: inline-block;
}

@media screen and (max-width: 58em) {
  .tabs nav a.icon span {
    display: none;
  }
  .tabs nav a:before {
    margin-right: 0;
  }
}



/* CSS FOR PRINT FUNCION */

@media print
{ .navbar{
    border:0;
    overflow:hidden;
    display:none
  }
  title{
    display:none;
    border:0;
  }
  .footer{
    display:none;
    border:0;
  }
  table td:last-child {display:none}
  table th:last-child {display:none}

  a[href]:after {
    content: none !important;
    }
  .form-actions{
    display:none;
  }
  body {
  font-family: Georgia, serif;
  background: none;
  color: black;
  }
  .home-link{
    display:none;
  }
  @page
        {
            size: auto;   /* auto is the current printer page size */
            margin: 0mm;  /* this affects the margin in the printer settings */
        }

}
