

<div>
  <ul class="nav nav-tabs home-link" >
    <li>{{#link-to 'dashboard.projects.project.enquiry-form' }}
      <button class="btn btn-success"> Enquiry Form</button>
      {{/link-to}}
    </li>
    <li>{{#link-to 'dashboard.projects.project.quotation-form' }}
      <button class="btn btn-success"> Quotation Form</button>
      {{/link-to}}
    </li>
    <li>{{#link-to 'dashboard.projects.project.customer' }}
      <button class="btn btn-success"> Customer Form</button>
      {{/link-to}}
    </li>
    <li>{{#link-to 'dashboard.projects.project.agent' }}
      <button class="btn btn-success"> Agent Form</button>
      {{/link-to}}
    </li>
    <li>{{#link-to 'dashboard.projects.project.job' }}
      <button class="btn btn-success"> Job Details</button>
      {{/link-to}}
    </li>
    <li>{{#link-to 'dashboard.projects.project.design' }}
      <button class="btn btn-success"> Design Details</button>
      {{/link-to}}
    </li>



  </ul>
  <div class="tab-content">
    {{outlet}}
  </div>
</div>
