
<div class="col-md-4">
<div class="side-panel">
  <div class="search-box">
  {{paper-input  label="Search Agent" value=searchTerm icon="search" class="wd90"}}
  </div>
    {{#each matchingAgents as |agent|}}
        <div class=  "">
          {{#link-to "dashboard.agents.agent" agent class="list-group-item agent-label no-border"}}
            <span class="mif-user mr10" style="color: #FFF;"></span>{{agent.name}}
          {{/link-to}}
        </div>
       {{paper-divider}}
    {{/each}}
</div>
</div>


<div class="col-md-8">
  <div class="right-panel">
    <div class="new-btn-row">

     {{#link-to 'dashboard.agents.new' class="list-group-item new-btn"}}
     <span class="mif-user-plus mr10" style="color: #fff;"></span>Add New Agent
     {{/link-to}}
   </div>

      {{outlet}}

    </div>
</div>
