<div class="col-md-3">
<div class="bodrddd">
<div class="side-panel">
  <div class="search-box">
  {{paper-input  label="Search Customer" value=searchTerm icon="search" class="wd90"}}
  </div>
  <div class="label-list-box">
    {{#each matchingCustomers as |customer|}}
        <div class=  "">
          {{#link-to "dashboard.customers.customer" customer class="list-group-item agent-label no-border"}}
            <span class="mif-user mr10" style="color: #FFF;"></span>{{customer.name}}
          {{/link-to}}
        </div>
       {{paper-divider}}
    {{/each}}
  </div>
</div>
</div>
</div>

<div class="col-md-9">
  <div class="right-panel">
    <div class="new-btn-row">
     {{#link-to 'dashboard.customers.new' class="list-group-item new-btn"}}
     <span class="mif-user-plus mr10" style="color: #fff;"></span>Add New Customer
     {{/link-to}}
   </div>

      {{outlet}}

    </div>
</div>
