projects/project(slug)/quotation-form page


<div class="row">
	<div class="col-md-12">

		<div class="form-group">

			<label for="">
				Dated:
			</label>
			<input type="email" class="form-control" id="" />
		</div>
		<div class="form-group">
			<label for="">
				Ref
			</label>
			<input type="password" class="form-control" id="" />
		</div>

		<div class="form-group">
			<label for="">
				Kind Attn:
			</label>
			<input type="password" class="form-control" id="" />
		</div>

		<div class="form-group">
			<label for="">
				Sub:
			</label>
			<input type="password" class="form-control" id="" />
		</div>
		<p>
			<strong> Dear Sir , </strong>. We are pleased to quote our lowest quotes for the sign boards Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
		</p>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>
						Sl.No.
					</th>
					<th>
						Scope of Work
					</th>
					<th>
						Unit
					</th>
					<th>
						Rate
					</th>
					<th>
						Amount
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						1
					</td>
					<td>
						Manufacturing and installation of the sign as  per your specification and approved art work<br>
						<strong>Khaleej Mall</strong><br>
						<strong>Banner Signs</strong><br>
						<strong>Dimensions: 3000 cms x 600 cms = 220 m<sup>2</sup></strong><br>
						<strong>Specification: </strong><br>
						The sign frame shall be made with 80 mm x 40 mm square tube with 12 mm plywood facial sheet.
					</td>
					<td>
						<strong>225.6 m <sup>2</sup> </strong>

					</td>
					<td>
						<strong>SAR. 120 /-</strong>
					</td>
					<td>
						<strong>SAR.45,120 /-</strong>
					</td>
				</tr>


			</tbody>
		</table>

		<div class="col-md-12 well" >
		<address>
	 <strong>Payment:</strong>  60% Advance balance 40%  up on completion.<br />
	  <strong>Delivery :</strong>With in 30 days from the date of confirmation and advance payment<br />
	  <strong>Power :</strong>With in 30 days from the date of confirmation and advance payment<br />
	  <strong>Store :</strong>With in 30 days from the date of confirmation and advance payment<br />
		<strong>Note :</strong>With in 30 days from the date of confirmation and advance payment<br />
	</address>
	</div>







	</div>
</div>


{{outlet}}
