{{outlet}}
<div class="col-md-12 text-center">
  <br> <br> <br>

  <div class="row">
{{#link-to 'add.project'}}<button class="btn-xlarge btn btn-danger"> Create New Project</button>{{/link-to}} <br> <br>
  </div>
<div class="row">
{{#link-to 'add.customer'}}<button class="btn-xlarge btn btn-warning"> Create New Customer</button>{{/link-to}} <br> <br>
</div>
<div class="row">
{{#link-to 'add.agent'}}<button class="btn-xlarge btn btn-success"> Create New Agent</button>{{/link-to}} <br> <br>
</div>
<div class="row">
{{#link-to 'add.supplier'}}<button class="btn-xlarge btn btn-primary"> Create New supplier</button>{{/link-to}} <br> <br>
</div>


</div>
