
  {{loading-slider isLoading=loading  color=hexColorsArray}}
  <div class="c-notification__container">
    {{#each notifications as |notification|}}
      {{notification-message notification=notification}}
    {{/each}}
  </div>
{{outlet}}
