From Customers page


<div class="col-md-4">
  <div class="list-group">

    <div class="list-group-item">
      {{input type="text" placeholder="Search Customer" value=searchTerm class="form-control"}}
    </div>


    {{#each matchingCustomers as |customer|}}
    {{#link-to "customers.customer" customer class="list-group-item "}}
    {{customer.name}}
    <span class="pointer glyphicon"></span>
    {{/link-to}}
    {{/each}}
  </div>
</div>
<div class="col-md-8">
  <div class="list-group">
    {{outlet}}
  </div>
</div>
