<div class="container">
    <div class="vertical-center-row">
        <div align="center">
          <div class="signinform ">
            <img src="images/signlab_logo_200x50.png" alt="Logo">

            {{#paper-card}}
            {{#paper-card-content}}
            {{paper-input label="E-mail" type="email" value=email icon="person" required=true}}
            {{paper-input label="Password" type="password" value=password icon="vpn-key" required=true}}
            <div class="center text-center">
              {{#paper-button action="authenticate" keypress="keyPress" keyPress="key" primary=true raised=true disabled=isLoginButtonDisabled  class="center text-center"}}
              Login
              {{/paper-button}}
            </div>
            {{/paper-card-content}}
            {{/paper-card}}
          </div>
        </div>
    </div>
</div>
