<div class="loading-pane text-center">
  <div class="loading-message text-center" >
    Fetching project data
    <br><br><br>
    <div>
    <div data-role="preloader" data-type="ring" data-style="dark" class="preloader_padding"></div>
  </div>
  </div>
  </div>
